<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Phenix Li</a>
                <div class="description">
                    <p>A software engineer. <br>
			Love computer and programming at first sight. <br>
			Current interested topics are machine-learning, mobile applications and IoT</p>
                </div>
            </div>
        </div>
    </div>
</div>
